<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="teamviewer" />
      <package id="googlechrome" />
      <package id="git.install" />
      <package id="intellijidea-ultimate" />
      <package id="potplayer" />
      <package id="tim" />
      <package id="vscode-insiders" />
      <package id="python" />
      <package id="dropbox" />
      <package id="nextcloud-client" />
      <package id="dejavufonts" />
      <package id="notepadplusplus" />
    </packages>