<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="teamviewer" />
      <package id="googlechrome" />
      <package id="git.install" />
      <package id="jdk8" />
      <package id="python3" />
      <package id="intellijidea-ultimate" />
      <package id="vscode-insiders" />
      <package id="potplayer" />
      <package id="dropbox" />
      <package id="notepadplusplus" />
      <package id="adobereader" />
      <package id="dejavufonts" />
      <package id="tim" />
    </packages>