<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="teamviewer" />
      <package id="googlechrome" />
      <package id="git" />
      <package id="nodejs" />
      <package id="7zip" /> 
      <package id="jdk8" />
      <package id="jetbrainstoolbox" />
      <package id="python3" />
      <package id="vscode" />
      <package id="winscp" />
      <package id="1password" />
      <package id="potplayer" />
      <package id="foobar2000" />
      <package id="freeencoderpack" />
      <package id="k-litecodecpackfull" />
      <package id="dropbox" />
      <package id="typora" />
      <package id="geforce-experience" />  
      <package id="steam" />
      <package id="telegram" />
      <package id="raidrive" />
      <package id="termius" />
      <package id="itunes" />
      <package id="everything" packageParameters="/client-service /run-on-system-startup" />
      <package id="calibre" />
      <package id="dejavufonts" />
    </packages>
